html {
	margin: 0;
	height: 100%;
	background-color: #ffffff;
	-webkit-user-select: none; /* no magnifier on hold */
}

body{
	margin: 0;
	overflow: hidden;
	height: 150%;
	background-color: #ffffff;
	-webkit-user-select: none;
	position: relative;
  left: 0;
  /* overflow-x: hidden; */
  overflow-x: auto;
  width: 150%;
}

/*MENU見出し*/
#side_menu h3 {
	background-color: #9acd32;
	color: #fff;
	padding: 0.5em 0;
	margin: 0;
	text-transform: capitalize;
	text-align: center;
}

/*サイドメニュー*/
#side_menu{
    position: fixed;
    top: 0;
    left: 78%;
    width: 22%;
    height: 100%;
		background-color:#E6FFE9;
		font-size: 20px;
}

/* 思考表出マップ見出し */
#main_menu h3 {
	background-color: #303077;
	color: #fff;
	padding: 0.5em 0;
	margin: 0;
	text-transform: capitalize;
	text-align: center;
}

#main_menu{
	position: fixed;
	height: 100%;
	width: 78%;
	text-align: center;
	/* margin-right: 34%; */
	float:right;
	/* background-color: #D7EEFF; */
	margin: 0;
}

.newsheet {
	float: left;
	width: 25%;
	top: 0%;
	left: 78%;
	height: 100%;
	margin: 0;
	font-size: 1.5em;
	background-color: #E6FFE9;
}

.select_sheet {
	float: left;
	width: 75%;
	height: 100%;
	margin: 0;
	font-size: 1.5em;
	background-color: #E6FFE9;
}

.select_sheet .scr{
	/* float: left; */
	width: 96%;
  /* height: 300px; */
	height:50%;
	/* padding-right: 25%; */
  overflow:auto;
	border:groove;
	padding-left: 3%;
	margin-left: 2%;
	font-size: 0.8em;
}

/*OK，目的選択ボタン*/
.button {
	background-color: #ff8c00;
	color: #fff;
	width: 100px;
	height: 30px;
}
.button:hover {
	background-color: #FF3333;
}

.button1 {
	background-color: #307730;
	color: #fff;
	width: 130px;
	height: 30px;
}
.button1:hover {
	background-color: #00CCFF;
}

.button2 {
	background-color: #999;
	color: #fff;
	width: 100px;
	height: 30px;
	cursor:pointer;
}
.button2:hover {
	background-color: #d04289;
}

.record:hover {
	background-color: #00CCFF;
}

.button3 {
	background-color: #999;
	color: #fff;
	width: 150px;
	height: 30px;
	cursor:pointer;
}
.button3:hover {
	background-color: #d04289;
}

/*recommendとallボタン*/
/* .btn {
	background-color: #808080;
	padding: 0.7em 0;
	color: #fff;
}
.btn:hover {
	background-color: #F57DA7;
} */
